html.js .loader {
  background: none repeat scroll 0 0 #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background: url("../img/preloader.gif");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  width: 100px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a, p {
  color: white;
}

h1 {
  font-family: "Cochin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #fff;
  text-transform: uppercase;
}
h1 span {
  color: #D5B77D;
}

h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 138.3%;
  color: #B48F6A;
  margin: 16px 0;
}

button {
  border: 0;
  background: transparent;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

.default_btn {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: linear-gradient(266.86deg, #DCBE81 -4.97%, rgba(180, 143, 106, 0.93) 106.56%);
  border-radius: 15px;
  padding: 18px 40px;
  border: 0;
  border: 1px #DCBE81 solid;
  transition: all 0.3s ease;
}
.default_btn:hover {
  color: #DCBE81;
  background: transparent;
  transition: all 0.3s ease;
}

.header {
  background: linear-gradient(87.96deg, rgba(0, 0, 0, 0.43) 3.85%, rgba(0, 0, 0, 0) 93.41%), linear-gradient(180deg, rgba(0, 0, 0, 0.81) 8.33%, rgba(61, 56, 56, 0.75) 99.99%, #000000 100%), linear-gradient(99.9deg, rgba(0, 0, 0, 0.62) 13.04%, rgba(0, 0, 0, 0) 96.91%), url("../img/main_page_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1080px;
}
.header .header_inner {
  display: flex;
  align-items: center;
  padding: 24px 0;
  justify-content: space-between;
}
.header .header_inner .nav ul {
  list-style: none;
  display: flex;
}
.header .header_inner .nav ul li {
  padding: 0 16px;
}
.header .header_inner .nav ul li a {
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.header .header_inner .header_contact a {
  color: #D5B77D;
  font-weight: 600;
  font-size: 20px;
  line-height: 142.8%;
}
.header .header_inner .header_contact a img {
  padding-right: 12px;
}
.header .page_article {
  margin-top: 160px;
}
.header .page_article p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #E9E9E9;
  margin-bottom: 44px;
}
.header .company_features {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}
.header .company_features .features_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 42px;
}
.header .company_features .features_block h5 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 60px;
  line-height: 142.8%;
  margin: 0;
  color: rgba(213, 183, 125, 0.6);
  font-style: normal;
}
.header .company_features .features_block p {
  font-weight: 400;
  font-size: 24px;
  line-height: 142.8%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

section {
  transition: all 0.3s ease;
  margin-top: 80px;
}
section .card_title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  border-bottom: 2px solid #B48F6A;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
section .card {
  display: flex;
  margin-top: 30px;
}
section .card > div {
  border: 2px solid #B48F6A;
  width: 50%;
}
section .card .card_img img {
  width: -webkit-fill-available;
}
section .card .card_text {
  padding: 44px 36px;
}
section .card .card_text h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #0D0D0D;
}
section .card .card_text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #0D0D0D;
  margin: 0;
}
section .card .card_text .card_description {
  margin-top: 40px;
}
section .card .card_text .card_description p {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #7B7B7B;
}
section .card .card_text .card_description h4 {
  margin: 0 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 12px;
}
section .card .card_text .card_description .description_ellipse {
  display: flex;
  align-items: center;
}
section .show_more_btn {
  color: #A1662B;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  border: 1px solid #B48F6A;
  border-radius: 8px;
  padding: 16px 57px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section #owl-portfolio .owl-nav button {
  padding: 1% 1.7% !important;
}
section .owl-carousel .owl-dots {
  display: none;
}
section .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  z-index: 9;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}
section .owl-carousel .owl-nav button {
  border: 1px solid #B48F6A !important;
  border-radius: 36px !important;
  padding: 1% 2.5% !important;
  height: -webkit-fill-available;
  transition: all 0.3s ease;
}
section .owl-carousel .owl-nav button:hover {
  background: linear-gradient(266.86deg, #DCBE81 -4.97%, rgba(180, 143, 106, 0.93) 106.56%) !important;
  transition: all 0.3s ease;
}
section .mailing {
  border: 3px solid #B48F6A;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .mailing h3 {
  color: #6A3908;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin: 36px 0;
}
section .mailing .default_btn {
  margin: 30px 0;
}
section .mailing .mailing_inputs {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}
section .mailing .mailing_inputs input {
  max-width: 404px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  border: 1px solid #B48F6A;
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  outline: none;
}
section .mailing .mailing_inputs input:first-child {
  margin-right: 30px;
}
section .mailing .mailing_inputs input::-moz-placeholder {
  color: #C0BDBD;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
section .mailing .mailing_inputs input:-ms-input-placeholder {
  color: #C0BDBD;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
section .mailing .mailing_inputs input::placeholder {
  color: #C0BDBD;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

footer {
  background: #121112;
  margin-top: 120px;
  padding-top: 52px;
}
footer .footer_up {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  border-bottom: 1px solid #D5B77D;
}
footer .footer_up .footer_contact {
  display: flex;
  flex-direction: column;
}
footer .footer_up .footer_network .instagram {
  margin-right: 16px;
}
footer .footer_up .footer_network a {
  padding: 14px 9px;
  background: #B48F6A;
  border-radius: 36px;
}
footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */