@import "bourbon/bourbon" 
html.js .loader
	background: none repeat scroll 0 0 #000
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background: url("../img/preloader.gif")
		background-size: auto
		background-repeat: no-repeat
		background-position: center center
		// background-color: #fff
		height: 100px
		width: 100px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

@mixin respond-to($media)     
	@if $media==_380        
		@media only screen and (max-width: 380px)             
			@content    
	@else if $media==_479         
		@media only screen and (max-width: 479px)             
			@content       
	@else if $media==_675 
		@media only screen and (max-width: 675px)                     
			@content    
	@else if $media==_767         
		@media only screen and (max-width: 767px)             
			@content    
	@else if $media==_991         
		@media only screen and (max-width: 991px)             
			@content    
	@else if $media==_1023         
		@media only screen and (max-width: 1023px)             
			@content  
	@else if $media==_1199         
		@media only screen and (max-width: 1199px)             
			@content    
	@else if $media==_1399    
		@media only screen and (max-width: 1399px) 
			@content
        
    



html,
body
	font-family: "Gilroy", sans-serif
	font-weight: 300
	font-size: 17px
	line-height: 20px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	@include respond-to(_767)
		font-weight: 400
		font-size: 14px
		line-height: 138.3%
body[data-aos-duration="400"] [data-aos] #page_acticle_h1
	transition-duration: 1s
a,p
	color: white
h1
	font-family: "Cochin", serif
	font-style: normal
	font-weight: 700
	font-size: 42px
	line-height: 55px
	color: #fff
	text-transform: uppercase
	@include respond-to(_767)
		font-weight: 500
		font-size: 22px
		line-height: 24px
	span
		color: #D5B77D
h6
	font-weight: 500
	font-size: 16px
	line-height: 138.3%
	color: #B48F6A
	margin: 16px 0
button
	border: 0
	background:	transparent
.carousel_img
	cursor: pointer
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

.default_btn
	font-weight: 300
	font-size: 20px
	line-height: 23px
	color: #FFFFFF
	background: linear-gradient(266.86deg, #DCBE81 -4.97%, rgba(180, 143, 106, 0.93) 106.56%)
	border-radius: 15px
	padding: 18px 40px 
	border: 0
	border: 1px #DCBE81 solid
	transition: all .3s ease
	@include respond-to(_767)
		padding: 12px 24px
		font-weight: 300
		font-size: 14px
		line-height: 16px
	&:hover
		color: #B48F6A
		background: #fff
		transition: all .3s ease
.mobile_nav
	height: 320px
	display: none
.mobile_menu 
	display: none
	.menu_close_btn
			position: absolute
			top: -500%
			left: 0
	&.active
		position: relative
		z-index: 999
	@include respond-to(_991)        
		display: flex        
		align-items: center        
		justify-content: flex-end
	.burger_menu
		position: relative
		width: 27px
		height: 18px
		&.active 
			span 
				transform: scale(0)
				transition: all 0.4s linear
			&::before,
            &::after
				top: 9px
				transition: all 0.3s linear
				width: 20px
            
			&::before                 
				transform: rotate(45deg)            
			&::after                 
				transform: rotate(-45deg)        
		&::before,
        &::after             
			content: ''            
			position: absolute            
			background: #fff            			
			border-radius: 2px
			width: 27px                        
			height: 2px            
			left: 0            
			transition: all 0.4s linear        
		&::before             
			top: 0        
		&::after             
			bottom: 0        
		span             
			position: absolute            
			background: #fff            
			border-radius: 2px            
			left: 0            
			width: 27px
			height: 2px
			top: 8px
			transition: all 0.4s linear
input
	max-width: 404px
	max-height: 60px
	width: 100%
	height: 100%
	border: 1px solid #B48F6A
	border-radius: 8px
	padding: 16px 24px
	font-weight: 400
	font-size: 20px
	line-height: 28px
	outline: none
	&::placeholder
		color: #C0BDBD
		font-weight: 400
		font-size: 20px
		line-height: 28px
.header
	background: linear-gradient(87.96deg, rgba(0, 0, 0, 0.43) 3.85%, rgba(0, 0, 0, 0) 93.41%),linear-gradient(180deg, rgba(0, 0, 0, 0.81) 8.33%, rgba(61, 56, 56, 0.75) 99.99%, #000000 100%),linear-gradient(99.9deg, rgba(0, 0, 0, 0.62) 13.04%, rgba(0, 0, 0, 0) 96.91%), url("../img/main_page_bg.png")
	background-repeat: no-repeat 
	background-position: center center 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	height: 1080px
	@include respond-to(_991)
		height: auto

	.header_inner
		display: flex
		align-items: center
		margin: 24px 0
		justify-content: space-between
		position: relative
		.nav
			ul
				list-style: none
				display: flex
				@include respond-to(_991) 
					padding: 0       
					// display: none
					position: absolute    				
					top: -400%    				
					flex-direction: column    				
					left: 0
				.header_networks
					display: none
					float: right
					@include respond-to(_991)
						display: block
				li
					padding: 0 16px
					@include respond-to(_991)       
						padding: 6px 0
					a
						@include respond-to(_991)        
							color: #6A3908
						color: #FFFFFF
						transition: all .3s ease
					&.networks
						width: webkit-fill-available
						float: right
						a
							padding: 14px 9px
							border: 2px solid #6A3908
							border-radius: 36px
							&:first-child
								margin-right: 16px
		.header_contact
			@include respond-to(_991)
				position: absolute
				top: 100%
				left: 40%
			a
				@include respond-to(_991)
					color: #fff
					font-weight: 600
					font-size: 20px
					line-height: 24px
				color: #D5B77D
				font-weight: 600
				font-size: 20px
				line-height: 142.8%
				img
					@include respond-to(_991)
						display: none
					padding-right: 12px

	.page_article
		margin-top: 160px
		@include respond-to(_991)    
			margin-top: 60px
			padding-bottom: 33px
		p
			font-weight: 300
			font-size: 24px
			line-height: 36px
			color: #E9E9E9
			margin-bottom: 44px
			@include respond-to(_767)
				font-weight: 300
				font-size: 12px
				line-height: 16px
				
	.company_features
		display: flex
		justify-content: flex-end
		margin-top: 80px
		@include respond-to(_767)
			position: absolute
			margin-top: 28px
			justify-content: space-between
			width: -webkit-fill-available
		.features_block
			display: flex
			flex-direction: column
			align-items: center
			padding: 0 42px
			@include respond-to(_991)
				padding: 0
				width: -webkit-fill-available
			h5
				font-family: "Playfair Display"
				font-weight: 900
				font-size: 60px
				line-height: 142.8%
				margin: 0
				color: rgba(213, 183, 125, 0.6)
				font-style: normal
				@include respond-to(_767)
					font-weight: 900
					font-size: 32px
					line-height: 40px
			p
				font-weight: 400
				font-size: 24px
				line-height: 142.8%
				color: rgba(255, 255, 255, 0.5)
				margin: 0
				@include respond-to(_767)
					font-weight: 300
					font-size: 12px
					line-height: 16px
					color: #0D0D0D

section
	transition: all .3s ease
	margin-top: 80px 
	@include respond-to(_767)
		&.section_1
			margin-top: 150px
	.card_title
		font-weight: 500
		font-size: 40px
		line-height: 47px
		border-bottom: 2px solid #B48F6A
		text-align: center
		width: fit-content
		margin-left: auto
		margin-right: auto
		@include respond-to(_767)
			font-weight: 600
			font-size: 22px
			line-height: 24px
	.card
		display: flex
		margin-top: 30px 
		@include respond-to(_991)
			flex-direction: column-reverse
			margin-top: 44px 
			&:nth-child(odd)
				flex-direction: column

		&>div
			border: 2px solid #B48F6A
			width: 50%
			@include respond-to(_991)
				width: 100%
				border: 0
		.card_img
			img
				width: -webkit-fill-available
		.card_text
			padding: 44px 36px
			@include respond-to(_1199)
				padding: 34px 30px
			h3
				font-weight: 600
				font-size: 30px
				line-height: 36px
				margin: 0
				color: #0D0D0D
				@include respond-to(_767)
					font-weight: 600
					font-size: 20px
					line-height: 24px
			p
				font-weight: 500
				font-size: 24px
				line-height: 28px
				color: #0D0D0D
				margin: 0
				@include respond-to(_767)
					font-weight: 500
					font-size: 16px
					line-height: 19px

			.card_description
				margin-top: 40px
				@include respond-to(_1199)
					margin-top: 8px
				p
					font-weight: 500
					font-size: 22px
					line-height: 26px
					color: #7B7B7B
					@include respond-to(_767)
						font-weight: 300
						font-size: 16px
						line-height: 20px

				h4
					margin: 0 20px
					font-weight: 600
					font-size: 24px
					line-height: 29px
					margin-top: 12px 
					@include respond-to(_767)
						font-weight: 500
						font-size: 16px
						line-height: 20px
				.description_ellipse
					display: flex
					align-items: center
					svg
						@include respond-to(_767)
							width: 8px
							height: 8px
						ellipse
							cx: 4px
							cy: 4px
							rx: 4px
							ry: 4px
			
	.show_more_btn
		color: #A1662B
		font-weight: 300
		font-size: 20px
		line-height: 23px
		border: 1px solid #B48F6A
		border-radius: 8px
		padding: 16px 57px
		margin: 40px auto
		display: flex
		flex-direction: column
		align-items: center
		transition: all .3s ease
		@include respond-to(_767)
			border-radius: 15px
			padding: 12px 42px
			font-weight: 300
			font-size: 14px
			line-height: 16px
		&:hover
			background: linear-gradient(266.86deg, #DCBE81 -4.97%, rgba(180, 143, 106, 0.93) 106.56%)
			color: white
			transition: all .3s ease
			transition: all .3s ease
	.owl-carousel
		.owl-dots
			display: none
		.owl-nav
			position: absolute 
			top: 45% 
			z-index: 9 
			width: -webkit-fill-available 
			display: flex 
			justify-content: space-between 
			button
				border: 1px solid #B48F6A !important
				border-radius: 36px !important
				height: -webkit-fill-available
				transition: all .3s ease
				padding: 0 !important
				img
					padding: 14px 17px
				&#owl-portfolio
				&:hover
					background: linear-gradient(266.86deg, #DCBE81 -4.97%, rgba(180, 143, 106, 0.93) 106.56%) !important
					transition: all .3s ease
	.mailing
		border: 3px solid #B48F6A
		display: flex
		flex-direction: column
		align-items: center
		@include respond-to(_991)
			border: 3px solid #B48F6A
			border-radius: 15px
			padding: 24px 23px
		h3
			color: #6A3908
			font-weight: 500
			font-size: 32px
			line-height: 40px
			text-align: center
			margin: 36px 0
			@include respond-to(_767)
				font-weight: 600
				font-size: 22px
				line-height: 24px
		.default_btn
			margin: 30px 0
		.mailing_inputs
			display: flex
			justify-content: center
			width: 100%
			height: 60px
			input
				@include respond-to(_991)
					margin-bottom: 15px
					max-width: 100%
				&:first-child
					margin-right: 30px 
				@include respond-to(_991)
					&:first-child
						margin-right: 0
			@include respond-to(_991)
				height: 100%
				flex-direction: column
				align-items: center


footer
	background: #121112
	margin-top:  120px
	padding-top: 52px 

	.footer_up
		display: flex
		justify-content: space-between
		padding-bottom: 65px
		border-bottom: 1px solid #D5B77D
		.footer_logo
			margin-right: 116px
			@include respond-to(_991)
				margin-right: 40px
		.footer_contact	
			display: flex    		
			justify-content: space-between    		
			width: -webkit-fill-available
			@include respond-to(_991)
				flex-wrap: wrap
			.footer_contact_number
				display: flex
				flex-direction: column
			.footer_network
				.instagram
					margin-right: 16px
				a
					padding: 14px 9px
					background: #B48F6A
					border-radius: 36px
	.footer_bottom
		display: flex
		justify-content: space-between
		@include respond-to(_767)
			flex-direction: column
			margin-top: 8px
			margin-bottom: 14px
			&
				p
					margin: 0



.smeta_modal_form
	background: #fff
	max-width: 650px
	margin: 0 auto
	padding: 36px 74px 24px 74px
	border-radius: 8px
	// margin-top: 220px 
	position: relative
	@include respond-to(_675)
		margin: 0 16px
		margin-top: 175px
		padding: 38px 12px
	.checkbox
		display: flex
		align-items: center
		input[type='checkbox']
			margin: 0
			width: auto
			width: 29px
			height: 29px
			margin-right: 12px
			accent-color: #fff
			border: 1px solid #B48F6A
			&:checked
				border: 1px solid #B48F6A
		p
			color: #000000
			font-weight: 500
			font-size: 16px
			line-height: 138.3%
	.default_btn
		width: -webkit-fill-available
		margin: 12px 0
	input
		margin-bottom: 20px
		max-width: -webkit-fill-available
	h5
		font-weight: 500
		font-size: 28px
		line-height: 40px
		color: #6A3908
		margin: 0
		margin-bottom: 36px
		@include respond-to(_675)
			font-weight: 600
			font-size: 22px
			line-height: 24px
	.mfp-close
		position: absolute
		top: 16px
		right: 20px
		font-size: 46px
		transition: all .5s ease
		&:hover
			transform: rotate(180deg)
			transition: all .5s ease

		@include respond-to(_675)
			top: 12px
			right: 12px

